
.card{
    width:400px;
    border:1px solid black;
    margin:20px;
    background-color: yellow;
    border-radius: 30px;
   
}@media screen and (max-width: 500px){
    .card{
      
       padding:0px;
       width:375px;
       margin:0;
       margin-top: 10px;
        
    }}

.container{
    display: grid;
    grid-template-columns: auto auto auto;

}
@media screen and (max-width: 500px){
    .container{
        display: grid;
    grid-template-columns: auto;
       padding:0px;
       
        
    }
}
.unknown{
    width:1488px;
}
.card-img-top{
    width:400px;
}
@media screen and (max-width: 500px){
    .card-img-top{
      
       padding:0px;
       width:375px;
       margin:0;
       
        
    }}
.notfound{
    margin-top : 30px;
    width:100%;
    font-size: 80px;
    color: white;
    background-color: black;
}
.form{
    width:100%;
display: flex;
align-items: center;
justify-content: center;
}
.submit{
    margin-left:10px;
    border-radius:5px;
    cursor: pointer;
}
.card-title, .card-text {
    display: flex;
align-items: center;
justify-content: center;
}

@media screen and (max-width: 500px){
    .card-text{
        display: flex;
        flex-wrap:wrap ;

    }}

.btn{
    margin-left: 145px;
    border-radius: 10px;
    margin-bottom: 5px;
}
.full{
    background-color: rgb(230, 123, 230);
}
.card-img-top{
    border-radius: 30px 30px 0px 0px;
}
.full1{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;

}
@media screen and (max-width: 500px){
    .full1{
       
       padding:0px; 
       /* margin-left:0px;  */
       width:80px; 

    }}
.duja{
   
    width:700px;
    padding:20px;
    margin-left: 300px;
}
@media screen and (max-width: 500px){
    .duja{
       width:400px;
       
      
     
    }}
.card-footer {
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-header{
    font-size: 30px;
    font-weight: 80px;
    display: flex;
       align-items: center;
       justify-content: center;
    
}
@media screen and (max-width: 500px){
    .card-header{
       display: flex;
       align-items: center;
       justify-content: center;
       
      
     
    }}